<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{meta_description}}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{meta_title}}">
  <meta name="twitter:description" content="{{meta_description}}">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{meta_title}}">
  <meta property="og:description" content="{{meta_description}}">

  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png">
  <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon">

  {{! Styles and Scripts }}
  <link rel="stylesheet" type="text/css" href="/stylesheets/vno.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/tomorrow.css" />
  <meta property="og:site_name" content="程序车的炸鸡" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="程序车的炸鸡" />
  <meta property="og:description" content="Thoughts, stories and ideas." />
  <meta property="og:url" content="http://poche.fm/" />
  <meta property="og:image" content="/images/background-cover-2.jpg" />
</head>
<body class="{{body_class}}">
  <span class="mobile btn-mobile-menu">
    <i class="fa fa-list btn-mobile-menu__icon"></i>
    <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
  </span>

  {{> side-panel}}

  <div class="main-post-list hidden">

    <ol class="post-list">
      <li>
        <h2 class="post-list__post-title post-title"><a href="/pages-poyin201511/" title="link to 『虽然不会颠覆这个行业，但你们要的客户端来了』『破车推荐2015年11月号』">『虽然不会颠覆这个行业，但你们要的客户端来了』『破车推荐2015年11月号』</a></h2>
        <p class="excerpt">破车推荐11月号下载地址： 破车推荐2015年11月号   破车推荐10月号在线试听地址： 网易云音乐2015年11月号，完整版   破车推荐2005 - 2014十年精选预定链接 预定链接   👉新一月的破车推荐 这月没有跳票，我很开心。 为了庆祝破车推荐客户端上线，我特意多选了一部分歌曲，基本时间都在两年之内的，也算是新歌了。也算是今年没出『情人节特辑』的一种补偿。 好，下面进入正题。   👉为什么要写一个客户端 我有一句话就是『不和用QQ音乐的人交朋友』，听起来有些装逼，无非就是&hellip;</p>
        <div class="post-list__meta"><time datetime="12 Jan 2016" class="post-list__meta--date date">12 Jan 2016</time> &#8226; <span class="post-list__meta--tags tags">于 <a href="/tag/poyin2015/">破车推荐2015</a></span><a class="btn-border-small" href=/pages-poyin201511/>继续阅读</a></div>
        <hr class="post-list__divider" />
      </li>
      <li>
        <h2 class="post-list__post-title post-title"><a href="/{qiu-liang-bing-wei-bei-shang-}-{po-che-tui-jian-2015nian-10yue-hao-}/" title="link to 『秋凉，并未悲伤』『破车推荐2015年10月号』">『秋凉，并未悲伤』『破车推荐2015年10月号』</a></h2>
        <p class="excerpt">破车推荐10月号下载地址： 破车推荐2015年10月号   破车推荐10月号在线试听地址： 网易云音乐2015年10月号，完整版   破车推荐2005 - 2014十年精选预定链接 预定链接   👉新一月的破车推荐 各位晚上好，面对跳票了近10余天的这个事情呢，我主要考虑到大家长假都没有太多心思听音乐，所以推迟了一些些。这月质量一般，我自己没有什么信心，所以各位就适当听听就好。歌曲中依旧饱含了我最近酷爱电子音乐的这个倾向，以及秋天应该有的，那种歌曲中散发出来的秋瑟。 你点上面的歌曲感受一&hellip;</p>
        <div class="post-list__meta"><time datetime="12 Jan 2016" class="post-list__meta--date date">12 Jan 2016</time> &#8226; <span class="post-list__meta--tags tags">于 <a href="/tag/poyin2015/">破车推荐2015</a></span><a class="btn-border-small" href=/{qiu-liang-bing-wei-bei-shang-}-{po-che-tui-jian-2015nian-10yue-hao-}/>继续阅读</a></div>
        <hr class="post-list__divider" />
      </li>
      <li>
        <h2 class="post-list__post-title post-title"><a href="/shi-fou-da-lian-yao-nin-pin-jian-po-che-tui-jian-2015nian-9yue-hao/" title="link to 【是否打脸，邀您品鉴】【破车推荐2015年9月号】">【是否打脸，邀您品鉴】【破车推荐2015年9月号】</a></h2>
        <p class="excerpt">破车推荐9月号下载地址： 破车推荐2015年9月号   破车推荐9月号在线试听地址： 网易云音乐2015年9月号，完整版   破车推荐2005 - 2014十年精选预定链接 预定链接   👉牛逼就这么吹出去了 上月不知道哪里来的莫名其妙的自信说是今年最佳的一期破车推荐，说完其实有些后悔，你说万一这个月要是很多人觉得比上月好听，那我岂不是打脸打得pia pia响吗？不过没有任何关系，你说好我就说不好，狮子座就是这么滴傲娇。当然我内心是觉得这个月虽然没有上月相对的聒噪，但肯定是维持了破车推荐&hellip;</p>
        <div class="post-list__meta"><time datetime="12 Jan 2016" class="post-list__meta--date date">12 Jan 2016</time> &#8226; <span class="post-list__meta--tags tags">于 <a href="/tag/poyin2015/">破车推荐2015</a></span><a class="btn-border-small" href=/shi-fou-da-lian-yao-nin-pin-jian-po-che-tui-jian-2015nian-9yue-hao/>继续阅读</a></div>
        <hr class="post-list__divider" />
      </li>
      <li>
        <h2 class="post-list__post-title post-title"><a href="/2015nian-zui-hao-ting-de-yi-qi-po-che-tui-jian-ye-yi-qiang-xian-chu-lu-po-che-tui-jian-2015nian-8yue-hao/" title="link to 【2015年最好听的一期破车推荐业已抢先出炉】【破车推荐2015年8月号】">【2015年最好听的一期破车推荐业已抢先出炉】【破车推荐2015年8月号】</a></h2>
        <p class="excerpt">破车推荐8月号下载地址： 破车推荐2015年8月号   破车推荐8月号在线试听地址： 网易云音乐2015年8月号，非完整版   破车推荐2005 - 2014十年精选预定链接 预定链接   👉这回可真没吹牛 盼星星盼月亮，终于盼来了今年年度最佳的一期破车推荐，我想之后的9到12月都不会超越一期，甚至可以说全部进入到年终精选候选都没有问题。依旧和之前的状态一样，我不是特别愿意打字。所以在20天之前做好的破车推荐也直到我都快听腻了、9月号已经准备了一半之后才出来，想必今天也是有很多人发了工资&hellip;</p>
        <div class="post-list__meta"><time datetime="12 Jan 2016" class="post-list__meta--date date">12 Jan 2016</time> &#8226; <span class="post-list__meta--tags tags">于 <a href="/tag/poyin2015/">破车推荐2015</a></span><a class="btn-border-small" href=/2015nian-zui-hao-ting-de-yi-qi-po-che-tui-jian-ye-yi-qiang-xian-chu-lu-po-che-tui-jian-2015nian-8yue-hao/>继续阅读</a></div>
        <hr class="post-list__divider" />
      </li>
      <li>
        <h2 class="post-list__post-title post-title"><a href="/nian-nian-sui-sui-ge-xiang-si-wo-zhi-shi-bu-xiang-duo-da-zi-po-che-tui-jian-7yue-hao-chun-yin-le-vol-4/" title="link to 【年年岁岁歌相似，我只是不想多打字】【破车推荐7月号&amp;纯音乐Vol.4】">【年年岁岁歌相似，我只是不想多打字】【破车推荐7月号&amp;纯音乐Vol.4】</a></h2>
        <p class="excerpt">破车推荐7月号下载地址： 破车推荐2015年7月号   破车推荐7月号在线试听地址： 网易云音乐2015年7月号，非完整版   破车推荐纯音Vol.4下载地址： 破车推荐纯音Vol.4   破车推荐纯音Vol.4在线试听地址： 网易云音乐纯音Vol.4，完整版   破车推荐2005 - 2014十年精选预定链接 预定链接   👉还是无话可说 跳票之王的新的一个月推荐又来了，欢迎各位收听。 说正经事儿前吐槽两句，上个月知道微信公众号可以插入音乐的时候，觉得这玩意儿怎么越neng越像校内网了&hellip;</p>
        <div class="post-list__meta"><time datetime="12 Jan 2016" class="post-list__meta--date date">12 Jan 2016</time> &#8226; <span class="post-list__meta--tags tags">于 <a href="/tag/poyin2015/">破车推荐2015</a></span><a class="btn-border-small" href=/nian-nian-sui-sui-ge-xiang-si-wo-zhi-shi-bu-xiang-duo-da-zi-po-che-tui-jian-7yue-hao-chun-yin-le-vol-4/>继续阅读</a></div>
        <hr class="post-list__divider" />
      </li>
    </ol>

    <hr class="post-list__divider " />

<nav class="pagination" role="navigation">
    <span class="pagination__page-number">1 / 4</span>
        <a class="older-posts pagination__older btn btn-small btn-tertiary" href="/page/2/#blog">更早 &rarr;</a>
</nav>

  </div>

  <div class="content-wrapper">
    <div class="content-wrapper__inner">
      {{{body}}}

      {{> footer}}
    </div>
  </div>

  <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
      document.write('<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></'+'script>');
    }
  </script>

  {{! The main JavaScript file }}
  <script type="text/javascript" src="/javascripts/main.js"></script>

  {{! Highlight.js }}
  <script type="text/javascript" src="/javascripts/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
