extends layout

block content
  .modal.fade#editListModal(tabindex='-1', role='dialog', aria-labelledby='editBannerModel')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h4.modal-title 修改歌单
        .modal-body
          form#editListForm.form-horizontal(onsubmit="return false;")
            .form-group.col-sm-12
              input#titleInput.form-control(name='title', placeholder='歌单名', required)
            .form-group.col-sm-12
              input#idInput.form-control(type='number', name='id', placeholder='歌单ID', required)
            .form-group.col-sm-12
              input#categoryInput.form-control(name='category', placeholder='歌单类型(可选)')
            .form-group.col-sm-12
              input#coverImageInput.form-control(name='coverImage', placeholder='封面url', required)
            .form-group.col-sm-12
              textarea#contentInput.form-control(rows='4', name='content', placeholder='想要bb的话(可选)')
            .form-group
              button#editBtn.col-sm-4.col-sm-offset-4.btn.btn-info 修改
  .container
    .col-md-12
      h1.align-center #{title}

      table.table.table-striped
        thead.align-center
          tr
            th.right-border.align-center 歌单ID
            th.align-center 歌单名
            th.left-border
              a(href='/newArticle')
                button.btn.btn-primary.edit-btn 添加
        tbody
          - var articleArr = articles
            each a in articleArr
              tr.align-center
                - var id = a.article_id.toString();
                td.right-border #{id}
                td
                  a(href='/track-list?id=#{id}') #{a.article_title}
                td.align-center.left-border
                  a.editBtn.edit(href='/edit-list?id=#{id}', data-id=id)
                    span.glyphicon.glyphicon-pencil
                  a.removeBtn.edit(href='/delete-list?id=#{id}', data-id=id)
                    span.glyphicon.glyphicon-trash
                  
          
