extends layout

block content
  head
    //- link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css')
    link(rel="stylesheet",type="text/css",href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700")
    link(rel="stylesheet" href="/stylesheets/vendor.css")
    link(rel="stylesheet" href="/stylesheets/ghost.css")
  body.ember-application
    script(src='/javascripts/ghost.js')
    script(src='/javascripts/vendor.js')
    div.ember-view
      div.ember-view.gh-app
          div.gh-viewport
            include admin_panel
            main.ember-view.gh-main(role='main')
              section.ember-view.gh-view.content-view-container
                header.view-header
                  h2.ember-view.view-title
                    button.gh-mobilemenu-button(role='presentation',data-ember-action='1078')
                      i.icon-gh
                        span.sr-only Menu
                    span content
                  section.view-actions
                    a.btn.btn-green.ember-view(href='/new_article',title="New Post") New Playlist
                div.view-container
                  section.content-list.js-content-list
                    section.ember-view.content-list-content.js-content-scrollbox
                      ol.posts-list
                        each a in articles
                          if (a.article_id.toString() == page_id.toString())
                            li.ember-view.active
                              a.permalink.ember-view.active(href='/articles/' + a.article_id,title='Edit this post')
                                h3.entry-title #{a.article_title}
                          else
                            li.ember-view
                              a.permalink.ember-view.active(href='/articles/' + a.article_id,title='Edit this post')
                                h3.entry-title #{a.article_title}
                        
                  section.content-preview.js-content-preview
                    section.post-controls
                      a.btn.btn-minor.post-edit.ember-view(href='', title='Edit this post')
                        i.icon-edit
                    section.ember-view.content-preview-content
                      div.wrapper
                        h1.content-preview-title
                          a.ember-view
      
    //- .modal.fade#editListModal(tabindex='-1', role='dialog', aria-labelledby='editBannerModel')
    //-   .modal-dialog.modal-lg
    //-     .modal-content
    //-       .modal-header
    //-         h4.modal-title 修改歌单
    //-       .modal-body
    //-         form#editListForm.form-horizontal(onsubmit="return false;")
    //-           .form-group.col-sm-12
    //-             input#titleInput.form-control(name='title', placeholder='歌单名', required)
    //-           .form-group.col-sm-12
    //-             input#idInput.form-control(type='number', name='id', placeholder='歌单ID', required)
    //-           .form-group.col-sm-12
    //-             input#categoryInput.form-control(name='category', placeholder='歌单类型(可选)')
    //-           .form-group.col-sm-12
    //-             input#coverImageInput.form-control(name='coverImage', placeholder='封面url', required)
    //-           .form-group.col-sm-12
    //-             textarea#contentInput.form-control(rows='4', name='content', placeholder='想要bb的话(可选)')
    //-           .form-group
    //-             button#editBtn.col-sm-4.col-sm-offset-4.btn.btn-info 修改
    //- .container
    //-   .col-md-12
    //-     h1.align-center #{title}
    //-     a(href='/tracks/fetch-old')
    //-       button.btn.btn-primary.edit-btn 获取旧数据
    //-     table.table.table-striped
    //-       thead.align-center
    //-         tr
    //-           th.right-border.align-center 歌单ID
    //-           th.align-center 歌单名
    //-           th.left-border
    //-             a(href='/article/new')
    //-               button.btn.btn-primary.edit-btn 添加
    //-       tbody
    //-         - var articleArr = articles
    //-           each a in articleArr
    //-             tr.align-center
    //-               - var id = a.article_id.toString();
    //-               td.right-border #{id}
    //-               td
    //-                 a(href='/articles?id=' + id) #{a.article_title}
    //-               td.align-center.left-border
    //-                 a.editBtn.edit(href='/article?id=' + id, data-id=id)
    //-                   span.glyphicon.glyphicon-pencil
    //-                 a.removeBtn.edit(href='/delete-list?id=#{id}', data-id=id)
    //-                   span.glyphicon.glyphicon-trash
