extends layout

block content
  body
    script(src='/javascripts/common.js')
    include header
    div.row
      div.fixed-action-btn
        a.btn-floating.btn-large.red#done(page=page_id)
          i.large.material-icons done
        ul
          li
            a.btn-floating.green#create(href='/api/admin/add-track?id=' + page_id)
              i.material-icons add
          li
            a.btn-floating.blue.darken-1(data, data-target='infos')
              i.material-icons audiotrack
      div.col.s6.offset-s4
        table.bordered.highlight.responsive-table
          tbody#tracks
            each track in tracks
             tr
              td.right-border.trackId #{track.track_id}
              td.pink-text.right-border(colspan='2') #{track.track_artist}
              td.pink-text(colspan='2') #{track.track_name}
              td.pink-text.left-border
                - var id = track.track_id.toString()
                button.editBtn.edit(data-id=id, data-target='update_info')
                  span.fa.fa-edit.fa-lg
                button.removeBtn.edit(data-id=id, data-list-id=listId)
                  span.fa.fa-trash.fa-lg
        div.modal.row#infos
          div.modal-content.col.s12
            form
              div.row
                div.input-field
                  input#ids(name='ids', type='text')
                  label track_ids
                div.input-field
                  textarea.materialize-textarea#content(name='content', type='text')
                  label xml infos
                div.input-field
                  input.btn.waves-effect.waves-light(type='submit', value='更新')
          
        div.modal.row#update_info
          div.modal-content.col.s12
            form.details
              div.row.col.s2
                div.input-field
                  input#track_id(type='text', name='track_id')
                  label.col.offset-s1(for='track_id') track_id
              div.row.col.s10
                div.input-field
                  input#track_artist(type='text', name='track_artist')
                  label.col.offset-s6(for='track_artist') 歌手名
              div.row.col.s12
                div.input-field
                  input#track_name(type='text', name='track_name')
                  label.col.offset-s8(for='track_name') 歌曲名
              div.row.col.s6
                div.input-field
                  input#track_cover(type='text', name='track_cover')
                  label.col.offset-s8(for='track_cover') 歌曲封面
              div.row.col.s6
                div.input-field
                  input#track_url(type='text', name='track_url')
                  label.col.offset-s8(for='track_url') 歌曲地址
              div.row.col.s12
                div.input-field
                  textarea.materialize-textarea#track_lrc(type='text', name='track_lrc')
                  label.col.offset-s8(for='track_lrc') 默认歌词
              div.row.col.s12
                div.input-field
                  textarea.materialize-textarea#track_lrc_cn(type='text', name='track_lrc_cn')
                  label.col.offset-s8(for='track_lrc_cn') 中文歌词
            div.modal-footer
              a.btn.waves-effect.waves-light#update Submit
              a.modal-action.modal-close.waves-effect.waves-green.btn-flat Close
