extends layout

block content
  .container
    table.table.table-striped
      h1.align-center 歌单
      thead
        tr
          th.right-border.align-center 序号
          th.align-center(colspan='2') 歌名
          th.align-center(colspan='2') 艺术家
          th.left-border
            -var listId = page_id
            a(href='/add-track?id=#{id}')
              button.btn.btn-primary.edit-btn 添加
      tbody#tracks
        - each track in tracks
         tr.align-center
          td.right-border.trackId #{track.track_id}
          td.right-border(colspan='2') #{track.track_name}
          td(colspan='2') #{track.track_artist}
          td.left-border
            - var id = track.track_id.toString()
            button.editBtn.edit(data-id=id)
              span.glyphicon.glyphicon-pencil
            button.removeBtn.edit(data-id=id, data-list-id=listId)
              span.glyphicon.glyphicon-trash
      
    form#form-horizontal(method='post', action='/track-list',name='tracksInfo', onSubmit='update()')
      h1.align-center 添加歌曲信息
      input#content(name='content', class='form-control', placeholder='歌曲信息', height='128')
      input.bottom-margin.col-sm-4.col-sm-offset-4.btn.btn-info(type='submit', value='更新')


block script
  script(src='/javascripts/track-list.js')
