extends layout

block content
  body
    include header
    div.row
      div.fixed-action-btn
        a.btn-floating.btn-large.red#done(page=page_id)
          i.large.material-icons done
        ul
          li
            a.btn-floating.green(data-target='new_track')
              i.material-icons add
          li
            a.btn-floating.blue.darken-1(data-target='infos')
              i.material-icons audiotrack
      main
        div.container
          table.bordered.highlight
            tbody#tracks
              each track in tracks
               tr
                td.right-border.trackId #{track.track_id}
                td.pink-text.right-border(colspan='2') #{track.track_artist}
                td.pink-text(colspan='2') #{track.track_name}
                td.left-border
                  - var id = track.track_id.toString()
                  a.editBtn.edit#modal(data-id=id, data-target='update_info')
                    span.fa.fa-edit.fa-lg
                  a.removeBtn.edit#delete(data-id=id, data-list-id=listId)
                    span.fa.fa-trash.fa-lg
          div.modal#infos
            div.modal-content.col.s12
              form(method='post', action='/api/admin/track-list/' + page_id)
                div.row
                  div.input-field
                    input#ids(name='ids', type='text')
                    label track_ids
                  div.input-field
                    textarea.materialize-textarea#content(name='content', type='text')
                    label xml infos
                  div.input-field
                    input.btn.waves-effect.waves-light(type='submit', value='更新')
            
          div.modal#update_info
            div.modal-content.col.s12
              form.details
                div.row.col.s2
                  div.input-field
                    input#track_id(type='text', name='track_id')
                    label.col.offset-s1(for='track_id') track_id
                include track_info
              div.modal-footer
                a.btn.waves-effect.waves-light#update Submit
                a.modal-action.modal-close.waves-effect.waves-green.btn-flat Close
                
          div.modal#new_track
            div.modal-content.col.s12
              form.new_track
                include track_info
              div.modal-footer.col.s2.offset-s10
                a.btn.waves-effect.waves-light#new Submit
                a.modal-action.modal-close.waves-effect.waves-green.btn-flat Close
